# Product Demand Prediciton

### 1. Importing all the necessary python libraries

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt

### 2. Loading the demand.csv file as a dataframe

In [7]:
df = pd.read_csv("C:/Users/annar/Downloads/demand.csv")
df.head()

   ID  Store ID  Total Price  Base Price  Units Sold
0   1      8091      99.0375    111.8625          20
1   2      8091      99.0375     99.0375          28
2   3      8091     133.9500    133.9500          19
3   4      8091     133.9500    133.9500          44
4   5      8091     141.0750    141.0750          52

### 3. Performing data preprocessing

In [8]:
df.isnull().sum()

ID             0
Store ID       0
Total Price    1
Base Price     0
Units Sold     0
dtype: int64

In [11]:
# since there is one null value in Total price column, use dropna to remove it
df = df.dropna()
df.isnull().sum()

ID             0
Store ID       0
Total Price    0
Base Price     0
Units Sold     0
dtype: int64